/* styles/main-layout.module.css */
.baseMain {
  /* Shared Layout Styles for ALL pages */
  flex-grow: 1; /* Makes sure the main content fills the available height */
  padding: 2rem 4rem; /* Consistent padding around the content */
  margin: auto;
  max-width: 90vw;
  width: 100%;
}
