.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 1.5rem;
  @apply bg-background border-b border-border;
}

.navLinksContainer {
  display: relative;
  align-items: center;
  gap: 1.5rem;
}

.settingsDropdownContainer {
  position: relative;
  margin-left: auto;
}

.settingsCard {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 50;
  margin-top: 0.5rem;
  width: 15rem;
  @apply shadow-lg;
}

.navLink {
  padding: 0.75rem 0.75rem;
  @apply text-muted-foreground transition-colors hover:text-foreground;
  font-weight: 500;
  position: relative;
}

.activeLink {
  padding: 0.5rem 0.75rem;
  @apply text-foreground font-semibold;
  position: relative;
}

.navLinkIndicator {
  position: absolute;
  bottom: 0rem;
  left: 0.75rem;
  right: 0.75rem;
  height: 2px;
  background-color: hsl(var(--foreground));
  transform-origin: left;
  transition: transform 0.3s ease-out;
}
.navLinkIndicatorHidden {
  transform: scaleX(0);
}
.navLinkIndicatorVisible {
  transform: scaleX(1);
}
